.App {
    display: flex;
    /*border: 1px solid blue;*/
    /*height: 100%;*/
    width: 90%;
    margin: 5% ;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
}



