.container {
    display: flex;
    height: 300px;
    width: 350px;
    margin: 0 5% 5% 0;
    flex-direction: column;
    justify-content: space-between;
    align-content: stretch;
    min-height: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
}

.title button {
    aalign-self: flex-end;
}

.addItemForm button {
    cursor: pointer;
    align-self: flex-start;
}

.addItemForm input {
    margin: 0 5.55% 5% 0;
    padding-right: 40%;
}

.task {
    cursor: pointer;
    flex-wrap: wrap;
    height: 200px;
    width: 347px;
    overflow: auto;
}

.task input {
    margin: 0 5% 0 5%;
}

.task button {
    cursor: pointer;
    margin: 0 5% 5% 5%;
}

.buttons button {
    cursor: pointer;
    width: 33.33%;
    margin-top: 5%;
}


.buttons button:active,
.buttons button:focus {
    background-color: greenyellow;
}

