.homeBody {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

.menuPage {
    width: 20%;
    padding: 1% 0 1% 1.5%;
    font-family: sans-serif;
    background: darkgrey;
}

.content {
    width: 100%;
    background: greenyellow;
    padding: 1% 1%;
}

.menuLink {
    padding: 0.5% 0.5%;
    outline: none;
    text-decoration: none;
    color: gold;
}

.menuLink:hover {
    color: #154088;
    text-decoration: none;
}

.menuLink:active {
    text-decoration: none;
    color: #fff;
}