.toDoTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: cursive;
}

.toDo {
    margin: 0 2% 0 0;
}

.toDoTitle button {
    font-size: 10px;
    margin: 2% 0 0 5%;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px groove darkgrey;
    padding: 3px 7px 3px 7px;
}

.toDoInput {
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.toDoInput input {
    width: 80%;
}

.list ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list li {
    display: flex;
    align-items: center;
    padding-bottom: 10%;
    font-family: sans-serif;
}

.list li span {
    padding: 0 0 0 5%;
}

.list button {
    font-size: 10px;
    margin: 0 0 0 3%;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    flex-grow: 1;
    font-family: "Baskerville Old Face";
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 1px groove darkgrey;
    padding: 3px 7px 3px 7px;
}

.buttons button:focus {
    border: 1px groove lightblue;
    color: deepskyblue;
}